<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Starwars FILM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
  <div class="row">
    <div class="col-md-3 text-center" style="padding-bottom:20px" *ngFor="let item of data.results">
      <div class="card">
        <img class="card-img-top" src="assets/example.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <small class="card-text"><b>Director</b> : {{item.director}}<br/><b>Producer</b> : {{item.producer}}</small>
          <br/>
          <br/>
          <a href="#" class="btn btn-danger"><i class="fa fa-play"></i> Play</a>
        </div>
      </div>
    </div>
  </div>
</main>

